<div class="recipe-show">
  <h1><%= @recipe.name %></h1>
  <p><strong>Preparation Time:</strong> <%= @recipe.preparation_time %> minutes</p>
  <p><strong>Cooking Time:</strong> <%= @recipe.cooking_time %> minutes</p>
  <p><strong>Description:</strong> <%= @recipe.description %></p>
  
  <% if current_user == @recipe.user %>
    <% if @recipe.public %>
      <%= button_to "Private", make_private_recipe_path(@recipe), method: :put, class: "btn btn-danger" %>
    <% else %>
      <%= button_to "Public", make_public_recipe_path(@recipe), method: :put, class: "btn btn-success" %>
    <% end %>
  <% end %>
</div>
