<h1>New Food</h1>

<%= form_with model: @food, url: foods_path, method: :post do |form| %>
  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
    <% if @food.errors.has_key?(:name) %>
      <p class="text-danger"><%= @food.errors[:name].join(', ') %></p>
    <% end %>
  </div>

  <div class="field">
    <%= form.label :measurement_unit %>
    <%= form.text_field :measurement_unit %>
    <% if @food.errors.has_key?(:measurement_unit) %>
      <p class="text-danger"><%= @food.errors[:measurement_unit].join(', ') %></p>
    <% end %>
  </div>

  <div class="field">
    <%= form.label :price %>
    <%= form.number_field :price %>
    <% if @food.errors.has_key?(:price) %>
      <p class="text-danger"><%= @food.errors[:price].join(', ') %></p>
    <% end %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
