<!DOCTYPE html>
<html>
  <head>
    <title>RecipeApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <nav>
      <!-- Add your navigation elements here, e.g., a logo, other links, etc. -->
      <ul>
        <li><%= link_to 'Home', root_path %></li>
        <!-- Add the "My Food List" link below -->
        <li><%= link_to 'My Food List', foods_path %></li>
      </ul>
    </nav>

    <div>
      <% if flash[:notice] || flash[:alert] %>
        <div class="alert alert-primary">
          <%= flash[:notice] %>
          <%= flash[:alert] %>
        </div>
      <% end %>
      <%= yield %>
    </div>
  </body>
</html>
